<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- data.page %></title>
    <link rel="stylesheet" href="/css/stylelogin.css">
    <link rel="stylesheet" href="/css/resetlogin.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>


<body>



    <body>
        <div class="background-image"></div>
        <div class="content">
          <header>
              <a href=""><img src="/img/Imagens-CadTudo/INFOTUR LOGO.png"></a>
          </header>
      
          <main class="main-with-filter">
            <div class="filter-overlay"></div>
            <h3>Editar Perfil</h3>
            <form action="/editar" method="post"">
              <input type="text" name="nome" placeholder="Nome:" id="nome" required maxlength="100" minlength="3">
  
              <input  type="email" name="email" placeholder="E-Mail:" id="email" required maxlength="100">
    
              <input type="text" name="cpf" placeholder="CPF:" id="cpf" required maxlength="11" min="11">
              
              <input type="tel" name="telefone" placeholder="Telefone:" id="telefone">
  
              <section class="fnl">
                <hr>
                <a href="#"><img src="/img/desfazer.png" alt="img" class="seta"></a>
                <a href="usuariorecom.ejs"><button>Confirmar</button></a>
              </section>
              
             </form>                    
          </main> 
        </div> 
    
</body>
</html>