<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylelogin.css">
    <link rel="stylesheet" href="/css/resetlogin.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Deletar Conta</title>
</head>


<body>



    <body>
        <div class="background-image"></div>
        <div class="content">
          <header>
              <a href=""><img src="/img/INFOTUR LOGO.png"></a>
          </header>
      
          <main class="main-with-filter">
            <div class="filter-overlay"></div>
            <h3>Deletar Conta</h3>
            <form action="/delete-login" method="POST">            
            <input  type="email" name="email" placeholder="E-Mail:" id="email" required maxlength="100">
            <input type="password" name="senha" placeholder="Senha:" id="senha" required maxlength="30" minlength="8">
            <a href="https://www.youtube.com/index">
            <h5>Esqueceu a senha?</h5></a>

            <section class="fnl">
              <hr>
              <a href="#"><img src="/img/desfazer.png" alt="img" class="seta"></a>
              <button>Confirmar</button>
            </section>
            
           </form>                 
          </main> 
        </div> 
    
</body>
</html>