<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monumentos (Ver Mais)</title>
    <link rel="stylesheet" href="css/style_monuverm.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="css/footer_monuverm.css">
</head>
<body>




    <!--INICIO DO CABEÇALHO-->
<header>
    <div class="divh">
      <img src="img/img_monuverm/INFOTUR LOGO.png" alt="" >
    </div>
</header>    
    <!--FIM DO CABEÇALHO-->




<!--INICIO DO MAIN-->
<main>    
    <section class="titles">
      <h3>Fonte Cunhatã</h3>
      <a href="http://127.0.0.1:5501/index.html"><input type="button" id="voltar" value="Voltar"></a>
      <span> Por <strong> prefeitura municipal</strong></span>
    </section>




    <!--CONTAINER 1-->
    <section class="container1-img">
        <img src="img/img_monuverm/Fonte Cunhatã.jpg" width="100%">
        <h6>Público</h6>
        <div class="salvar">
            <img src="img/img_monuverm/coracao.png" alt="">
        </div>
        <img src="img/img_monuverm/angulo-direito.png" alt="Icon">
        <input type="radio">
        <input type="radio">
    </section>
    <!--FIM DO CONTAINER 1-->





    <!--CONTAINER 2-->
    <section class="container-2">
        <h3>Fonte Cunhatã</h3>
        <p>Obra localizada na Praça Lelita Bittencourt, em frente ao SAMEE, na área central, homenageia a mulher. Foi inaugurada em dezembro de 1996, com a reurbanização do Bulevar. Obra de fluxe d'água abundante, localizada de frente ao Hospital-Maternidade, na Praça Lelita Bittencourt no centra da cidade.</p>
    </section>
    <!--FIM DO CONTAINER 2-->



    
    <!--INICIO CONTAINER 3-->
    <section class="container-3">
        <div class="star">
            <div class="st1">
              <img src="img/img_monuverm/estrela.png">
              <img src="img/img_monuverm/estrela.png">
              <img src="img/img_monuverm/estrela.png">
              <img src="img/img_monuverm/estrela.png">
              <img src="img/img_monuverm/estrela.png">
              <p> (87) </p>
            </div>  
        </div>
    <!--FIM DO CONTAINER 3-->

        


        <!--BOTÃO CONFIAVEL-->
        <section class="bbts">
          <div class="BTVD">
            <img src="img/img_monuverm/Check.png">
            <h6> Localidade <br> segura </h6>
         </div> 
       </section>
    </section>
        <!--FIM DO BOTÃO CONFIAVEL-->




    <!--INICIO CONTAINER 4-->
    <section class="container-4">
        <h5> <strong> Localização </strong></h5>
        <img src="img/img_monuverm/mapa.PNG" class="themap">
        <a href="https://maps.google.com/?q=latitude,longitude">
          <input type="button" id="verlocalizacao" value="Ver Localização">
        </a> 
    </section>
    <!--FIM DO CONTAINER 4-->




    <!--INICIO DO NAV-->
    <nav>
        <h3>Avaliações</h3>
        <hr>
        <section class="AVBT">
           <button type="button">
              Mais recentes 
           </button>
           <button type="button" >
               Mais antigos 
           </button>
           <div class="filter">
            <img src="img/img_monuverm/Filter.png">
           </div>
        </section>
    </nav>
   <!--FIM DO NAV-->





   <!--INICIO DEÇÃO DE AVALIAÇÕES-->
   <section class="Avaliaçõestt">
    <div class="TTAV">
        <div class="star2">
           <h3> 5.0 </h3>

            <div class="s1">
              <img src="img/img_monuverm/estrela.png">
              <img src="img/img_monuverm/estrela.png">
              <img src="img/img_monuverm/estrela.png">
              <img src="img/img_monuverm/estrela.png">
              <img src="img/img_monuverm/estrela.png">
            </div>
            <p> (90 Avaliações)</p>
        </div>
    </div>
   <div class="Aval1">
    <h4> Ótimo </h4>
     <div class="strx">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela roxa.png">
     </div>
    <p> (80) </p>
</div>
<div class="Aval2"> 
    <h4> Bom </h4>
    <div class="strx">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela (cinza).png">
    </div>
    <p> (5) </p>
</div>
<div class="Aval3">
    <h4>Regular </h4>
    <div class="strx">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela (cinza).png">
      <img src="img/img_monuverm/estrela (cinza).png">
    </div>
    <p> (5) </p>
</div>
<div class="Aval4">
    <h4> Ruim</h4>
    <div class="strx">
      <img src="img/img_monuverm/estrela roxa.png">
       <img src="img/img_monuverm/estrela roxa.png">
       <img src="img/img_monuverm/estrela (cinza).png">
       <img src="img/img_monuverm/estrela (cinza).png">
       <img src="img/img_monuverm/estrela (cinza).png">
    </div> 
    <p> (0) </p>
</div>
<div class="Aval5">
     <h4> Péssimo</h4>
    <div class="strx">
      <img src="img/img_monuverm/estrela roxa.png">
      <img src="img/img_monuverm/estrela (cinza).png">
      <img src="img/img_monuverm/estrela (cinza).png">
      <img src="img/img_monuverm/estrela (cinza).png">
      <img src="img/img_monuverm/estrela (cinza).png">
    </div> 
    <p> (0) </p>
</div>
</section>
<!--FIM DA SEÇÃO DE AVALIAÇÕES -->




   <!--INICIO CONTAINER 5-->
   <section class="container5">
    <div class="perfil">
      <img src="img/img_monuverm/mulher sorridente.jpg"  alt="Foto perfil">
      <h6> Maria Joaquina</h6>
      <img src="img/img_monuverm/coracao.png">
    </div>
    <div class="cm1"> 
       <div class="star-1">
          <img src="img/img_monuverm/estrela roxa.png">
          <img src="img/img_monuverm/estrela roxa.png">
          <img src="img/img_monuverm/estrela roxa.png">
          <img src="img/ícones/estrela roxa.png">
          <img src="img/img_monuverm/estrela roxa.png">
       </div>
      <label> 
        <strong>Lindo Monumento</strong>  
      </label>
  </div>
  <div class="p1">
    <p> Um dos monumento mais lindos da cidade de Barueri, uma verdadeira obra de arte</p>
  </div>
   </section>
   <!--FIM DO CONTAINER 5-->





   <div class="inpts">
     <input type="radio" id="B1">
     <input type="radio" id="B2">
   </div>



  <!--INICIO DO FOOTER-->
  <footer>
    <!--DIV I1-->
    <section class="i1">
      <h5>INFOTUR</h5>
      <p>E-mail:</p>
      <p>infotur@gmail.com</p>
    </section>

    <!-- Div 2 - i2 (Contato) -->
    <section class="i2">
      <h5> Contato</h5>
      <p>Central de Atendimento</p>
      <p> (11) 8967-4536</p>
    </section>

    <!-- Div 3 - i3 (Sobre nós)-->
    <section class="i3">
      <h5>Mais </h5>
      <p> Sobre nós </p>
      <p> Política de privacidade </p>
      
      <!-- Botão de fale conosco -->
      <input type="button" value="Fale Conosco">
    </section>
    <hr>

    <!-- Section ftult (Footer ultimo = ultima section do footer) -->
    <section class="ftult">

      <!-- Logotipo -->
      <img src="img/img_monuverm/INFOTUR LOGO.png" width="35%">
      <!-- Texto localizado a esquerda do logotipo -->
      <p> © 2023 INF TUR  - Instituição de Turismo.<br> 19.242.150/0004-28<br>
        Rua Capoto Valente, 67- São Paulo, SP - <br>054-18040<br></p>
      
        <!-- Icones de redes sociais -->
        <div class="rds">
          <img src="img/img_monuverm/instagram.png" alt="Instagram" srcset="">
          <img src="img/img_monuverm/facebook.png" alt="facebook" srcset="">
          <img src="img/img_monuverm/twitter.png" alt="twitter" srcset="">
        </div>
    </section>
  </footer>
  <!--FIM DO FOOTER-->




  <style>
    footer {
      background-color: #5b398d;
    }
  </style>
</main>
<!--FIM DO MAIN-->
</body>
</html>