<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style_monumentos.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Monumentos</title>
</head>
<body>




  <!--INICIO DO CABEÇALHO-->
    <header>
        <div class="header-container">
          <img src="img/imagens_monumentos/header-image.jpg" alt="Imagem do Cabeçalho" class="header-image">
          <a href="javascript:history.back()" class="back-arrow">&#60;</a>
          <h1>Monumentos</h1>
          <h5>Informações sobre todos monumentos da nossa cidade</h5>
          <div class="search-container">
            <form>
              <input type="text" name="search" placeholder="Buscar Monumentos">
              <button type="submit"><img src="img/icones_monumentos/lupa.png" alt="Buscar" class="search-icon">
            </button>
            </form>
          </div>
        </div>
      </header>
      <section>
      <H2>Melhores Avaliados</H2>
      <br>
      <h4 class="destaque">Monumentos melhores avaliados pelo público</h4>
    </section>
    <!--FIM DO CABEÇALHO-->




    <!--INICIO DOS MONUMENTOS, FONTE CUNHATÃ-->
    <section>
    <div style="display: flex; justify-content: center; align-items: flex-start; height: 100vw; margin: 6%;">
      <img src="img/imagens_monumentos/Fonte Cunhatã.jpg"  style="float: left; margin-right: 10px;" style="max-width: 100%; max-height: 100%;" alt="Fonte Cunhatã" class="cunhatã">
    </div>
     <p class="descCNT"> Fonte inaugurada em dezembro de 1996 com a reurbazinação do Boulevard</p>
     <br>
     <!--ESTRELAS DE AVALIAÇÃO-->
     <div>
      <div class="rating">
        <label for="star5"></label>
        <label for="star4"></label>
        <label for="star3"></label>
        <label for="star2"></label>
        <label for="star1"></label>
      </div>
      <!--BOTÃO VER MAIS-->
      <a href="#"><button id="ver-mais">Ver mais</button></a>
    </div>
      </section>
      <!--FIM DA FONTE CUNHATÃ-->




      <!--INICIO DO SEGUNDO MONUMENTO, FONTE CONCORDIA-->
      <section>
        <div style="display: flex; justify-content: center; align-items: flex-start; height: 80vw; margin: 6%;">
          <img src="img/imagens_monumentos/concordia.PNG"  style="float: left; margin-right: 10px;" style="max-width: 100%; max-height: 100%;" alt="Fonte concordia" class="concordia">
        </div>
          <p class="txtcon"> Fonte da Concordia localizada no municipio de Barueri-SP</p>
          <br>
          <!--ESTRELAS DE AVALIAÇÃO-->
          <div>
            <div class="rating2">
              <label for="star10"></label>
              <label for="star9"></label>
              <label for="star8"></label>
              <label for="star7"></label>
              <label for="star6"></label>
            </div>
            <!--BOTÃO VER MAIS-->
            <button id="ver-mais2">Ver mais</button>
          </div>
      </section>
          <!--FIM DA FONTE CONCORDIA-->




        <!--INICIO DO TERCEITO MONUMENTO, MONUMENTO A FAMILIA-->
        <section>
          <div style="display: flex; justify-content: center; align-items: flex-start; height: 100vw; margin: 6%;">
            <img src="img/imagens_monumentos/amilia.PNG"  style="float: left; margin-right: 10px;" style="max-width: 100%; max-height: 100%;" alt="Fonte da Familia" class="Familia">
          </div>
          <p class="txtfml">Monumento que se escontra do bairro Cruz Preta no municipio de Barueri</p>
          <br>
          <!--ESTRELAS DE AVALIAÇÃO-->
          <div>
            <div class="rating3">
              <label for="star15"></label>
              <label for="star14"></label>
              <label for="star13"></label>
              <label for="star12"></label>
              <label for="star11"></label>
            </div>
            <!--BOTÃO VER MAIS-->
            <button id="ver-mais3">Ver mais</button>
          </div>
        </section>
        <!---FIM DO MONUMENTO FAMILIA-->




        <!-- INICIO DO MONUMENTO VIOLA-->
        <section>
          <div style="display: flex; justify-content: center; align-items: flex-start; height: 10vw; margin: 6%;">
            <img src="img/imagens_monumentos/VIOLA.PNG"  style="float: left; margin-right: 10px;" style="max-width: 100%; max-height: 100%;" alt="Monumento VIOLA" class="VIOLA">
          </div>
          <p class="txtviola">Escultuda do Artista Aldemir Martins, localizada na praça Jardim dos Artistas</p>
          <br>
          <!--ESTRELAS DE AVALIAÇÃO-->
          <div>
            <div class="rating4">
              <label for="star20"></label>
              <label for="star19"></label>
              <label for="star18"></label>
              <label for="star17"></label>
              <label for="star15"></label>
            </div>
            <!--BOTÃO VER MAIS-->
            <button id="ver-mais4">Ver mais</button>
          </div>
        </section>
        <!--FIM DO MONUMENTO DA VIOLA E DOS MONUMENTOS DA PAGINA-->




        <!--BOTÃO  ANTERIORES, PROXIMOS E OUTROS-->
<nav>

  <!-- Principais botões roxo e verde, Anterior, próximo -->
  <section class="btt">
    <input type="button" value="Anteriores">
    <input type="button" value="Proximo">
  </section>


  <!-- Divs de numereção de páginas  -->
  <section class="containerclass"> 

    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>...</div>
  </section>
</nav>
<!-- Final Nav (Outros) -->





    <!-- Inicio Footer -->
  <footer>

    <!-- Div1 - i1 -->
    <section class="i1">

      <p>E-mail:</p>
      <p>infotur@gmail.com</p>
    </section>

    <!-- Div 2 - i2 (Contato) -->
    <section class="i2">
 
      <p>Central de Atendimento</p>
      <p> (11) 8967-4536</p>
    </section>

    <!-- Div 3 - i3 (Sobre nós)-->
    <section class="i3">

      <p> Sobre nós </p>
      <p> Política de privacidade </p>
      
      <!-- Botão de fale conosco -->
      <input type="button" value="Fale Conosco">
    </section>

    <hr>

    <!-- Section ftult (Footer ultimo = ultima section do footer) -->
    <section class="ftult">

      <!-- Logotipo -->
      <img src="img/INFOTUR LOGO.png" width="35%">
      <!-- Texto localizado a esquerda do logotipo -->
      <p> © 2023 INFOTUR  - Instituição de Turismo.<br> 19.242.150/0004-28<br>
        Rua Capoto Valente, 67- São Paulo, SP - <br>054-18040<br></p>
      
        <!-- Icones de redes sociais -->
        <div class="rds">
          <img src="img/icones_monumentos/instagram.png" alt="Instagram" srcset="">
          <img src="img/icones_monumentos/facebook.png" alt="facebook" srcset="">
          <img src="img/icones_monumentos/twitter.png" alt="twitter" srcset="">
        </div>
    </section>
  
  </footer>
  <!-- final footer -->  
  <style>

    footer {

      background-color: #5b398d;
    }

  </style>
</body>
</html>