<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas</title>
    <link rel="stylesheet" href="css/reset_Ofertas.css">
    <link rel="stylesheet" href="css/padrao_Caixas_ofertas.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <!-- Está linkando o google fonts pra consegguir usar os ícones do favorito, um é pro elemento sem preenchimento e o outro é o com preenchimento -->
    <script src="/js/favorito_ofertas.js" defer></script>

</head>
<body>
    <section class="topo-Pesquisa">
    <div class="BarraDePesquisa"><input type="search" name="Bpesquisa" id="Bpesquisa" class="Bpesquisa" placeholder="Buscar pacotes"><span><img src="img/Imagens-Ofertas/lupa-removebg-preview.png" alt="Botão de pesquisa"></span></div>
    <div class="opcoesPesq">
        <a href="/pacotes/pacotes.html"><img src="img/Imagens-Ofertas/too_men.png" alt="Ícone pessoas">Pacotes</a>
        <a href="#categoria"><img src="img/Imagens-Ofertas/men.png" alt="Ícone pessoa sozinha">Regional</a>
        <a href="#limitadaa"><img src="img/Imagens-Ofertas/too_men.png" alt="Ícone pessoas">Limitadas</a>
    </div>
    <div class="cat">
        <h1>Ofertas</h1>
        <aside>As melhores ofertas para você economizar e se divertir</aside>
    </div>
    </section>
    <main>
        <section class="Categorias">
            <div>
                <h2>Melhores Ofertas</h2>
                <aside>Os melhores custo benefício</aside>
            </div>
            <div class="infoBox">
                <img src="img/Imagens-Ofertas/Museu de Barueri 1.png" alt="" class="ImgFundo">
                <p>Pacote</p>
                <div class="precoBox">Por <br>R$25,54</div>
                <div><span class="material-symbols-outlined favorito">favorite</span></div>
                    <aside>Das 9:00 as 12:00</aside>
                    <h3>Visita ao museu histórico</h3>
            </div>
            <div class="embaixoInfoBox">
                <p>Visita ao Museu Histórico de Barueri;  Inclusos (Transporte, alimentação, guia turístico )</p>
                <span class="preco"><strong>Por</strong> Prefeitura Municipal</span>
                <div>
                    <div class="stars">
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>(52)
                    </div>
                    <a href="/ofertas" class="btn_Mais">Ver Oferta</a>
                </div>
            </div>
        </section>
        <div class="fundoCinza" id="categoria">
            <section class="Categorias">
                <div>
                    <h2>Em sua região</h2>
                    <aside>Opções de lazer próximas a sua localidade </aside>
                </div>
                <div class="infoBox">
                    <img src="img/Imagens-Ofertas/parque.jpg" alt="" class="ImgFundo">
                    <p>Oferta</p>
                    <div class="precoBox">Por <br>R$25,54</div>
                    <div><span class="material-symbols-outlined favorito">favorite</span></div>
                        <aside>Das 9:00 as 22:00</aside>
                        <h3>Up Trampolim Park</h3>
                </div>
                <div class="embaixoInfoBox">
                    <p>Passeio no Parque Ecológico de Barueri; Inclusos  (Transporte, alimentação)</p>
                    <span class="preco"><strong>Por</strong> Jefersson Transportes</span>
                    <div>
                        <div class="stars">
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>(52)
                        </div>
                        <a href="#" class="btn_Mais">Ver Oferta</a>
                    </div>
                </div>
            </section>
        </div>
        <section class="Categorias fundoCinza">
            <div>
                <h2>Ofertas de pacotes</h2>
                <aside>Ofertas para você que busca pacotes pelo melhor preço</aside>
            </div>
            <div class="infoBox">
                <img src="img/Imagens-Ofertas/b2ap3_medium_PRACA-DAS-ARTES-DRONE-01.jpg" alt="" class="ImgFundo">
                <p>Público</p>
                <div class="precoBox">Por <br>R$25,54</div>
                <div><span class="material-symbols-outlined favorito">favorite</span></div>
                    <aside>Das 9:00 as 22:00</aside>
                    <h3>Visira a Praça das Artes</h3>
            </div>
            <div class="embaixoInfoBox">
                <p>Visita a Praça das Artes; Inclusos no pacote  (Transporte, alimentação )</p>
                <span class="preco"><strong>Por</strong> INFOTUR</span>
                <div>
                    <div class="stars">
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>(52)
                    </div>
                    <a href="#" class="btn_Mais">Ver Mais</a>
                </div>
            </div>
        </section>
        <div class="fundoCinza" id="limitadaa">
            <section class="Categorias">
                <div>
                    <h2>Ofertas limitadas</h2>
                    <aside>Ofertas relâmpago com os melhores preços para você </aside>
                </div>
                <div class="infoBox">
                    <img src="img/Imagens-Ofertas/6262ecc904a9d.png" alt="" class="ImgFundo">
                    <p>Pacote</p>
                    <div class="precoBox">Por <br>R$25,54</div>
                    <div><span class="material-symbols-outlined favorito">favorite</span></div>
                        <aside>Das 9:00 as 22:00</aside>
                        <h3>Visita ao Estádio Municipal</h3>
                </div>
                <div class="embaixoInfoBox">
                    <p>Ó Visita ao Estádio Municipal de Barueri; Inclusos  (Transporte, alimentação, guia)</p>
                    <span class="preco"><strong>Por</strong> INFOTUR</span>
                    <div>
                        <div class="stars">
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>(52)
                        </div>
                        <a href="#" class="btn_Mais">Ver Mais</a>
                    </div>
                </div>
            </section>
        </div>
        <section class="pages">
            <div><-</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>-></div>
        </section>
        
    </main>
</body>
</html>