<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacotes</title>
    <link rel="stylesheet" href="css/reset_pacotes.css">
    <link rel="stylesheet" href="css/padrao_Caixas_pacotes.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <!-- Está linkando o google fonts pra consegguir usar os ícones do favorito, um é pro elemento sem preenchimento e o outro é o com preenchimento -->
    <script src="js/favorito.js" defer></script>
    
</head>
<body>
    <section class="topo-Pesquisa">
    <div class="BarraDePesquisa"><input type="search" name="Bpesquisa" id="Bpesquisa" class="Bpesquisa" placeholder="Buscar pacotes"><span><img src="img/img_pacotes/lupa-removebg-preview.png" alt="Botão de pesquisa"></span></div>
    <div class="cat">
        <h1>Pacotes</h1>
        <aside>Diversos pacotes de passeios para você</aside>
    </div>
    </section>
    <main>
        <section class="Categorias">
            <div>
                <h2>Top 1º</h2>
                <aside>Os preferidos da galera</aside>
            </div>
            <div class="infoBox">
                <img src="img/img_pacotes/6262ecc904a9d.png" alt="" class="ImgFundo">
                <p><img src="img/img_pacotes/men.png" alt="Ícone pessoa">Individual</p>
                <div><span class="material-symbols-outlined favorito">favorite</span>
                <span class="autor"><strong>Por </strong>Jefersson Transportes</span></div>
                    <aside>Das 9:00 as 16:00</aside>
                    <h3>Visita ao Estádio Municipal</h3>
            </div>
            <div class="embaixoInfoBox">
                <p>Visita ao Estádio Municipal de Barueri  Inclusos  (Transporte, alimentação, guia )</p>
                <span>R$00,00</span>
                <div>
                    <div class="stars">
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>(52)
                    </div>
                    <a href="#" class="btn_Mais">Ver Mais</a>
                </div>
            </div>
        </section>
        <div class="fundoCinza">
            <section class="Categorias">
                <div>
                    <h2>Top 2º</h2>
                    <aside>Uns dos mais comprados e procurados</aside>
                </div>
                <div class="infoBox">
                    <img src="img/img_pacotes/barueri-municipal-museum.jpg" alt="" class="ImgFundo">
                    <p><img src="img/img_pacotes/too_men.png" alt="Ícone pessoa">2 Pessoas</p>
                    <div><span class="material-symbols-outlined favorito">favorite</span>
                    <span class="autor"><strong>Por </strong>Prefeitura Municipal</span></div>
                        <aside>Das 9:00 as 16:00</aside>
                        <h3>Visita ao museu Histórico</h3>
                </div>
                <div class="embaixoInfoBox">
                    <p>Visita ao Museu Histórico de Barueri  Inclusos (Transporte, alimentação )</p>
                    <span>R$00,00</span>
                    <div>
                        <div class="stars">
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>(52)
                        </div>
                        <a href="#" class="btn_Mais">Ver Mais</a>
                    </div>
                </div>
            </section>
        </div>
        <section class="Categorias">
            <div>
                <h2>Top 3º</h2>
                <aside>Os preferidos da galera</aside>
            </div>
            <div class="infoBox">
                <img src="img/img_pacotes/parque.jpg" alt="" class="ImgFundo">
                <p><img src="img/img_pacotes/too_men.png" alt="Ícone pessoa">2 Pessoas</p>
                <div><span class="material-symbols-outlined favorito">favorite</span>
                <span class="autor"><strong>Por </strong>Jefersson Transportes</span></div>
                    <aside>Das 9:00 as 16:00</aside>
                    <h3>Passeio no Parque Ecológico</h3>
            </div>
            <div class="embaixoInfoBox">
                <p>Visita ao Parque Ecológico de Barueri  Inclusos  (Transporte, alimentação, guia (durante 1 hora))</p>
                <span>R$00,00</span>
                <div>
                    <div class="stars">
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>
                        <span class="material-symbols-rounded">
                            star
                        </span>(52)
                    </div>
                    <a href="#" class="btn_Mais">Ver Mais</a>
                </div>
            </div>
        </section>        
        <div class="fundoCinza">
            <section class="Categorias">
                <div>
                    <h2>Top 4º</h2>
                    <aside>Os preferidos da galera</aside>
                </div>
                <div class="infoBox">
                    <img src="img/img_pacotes/b2ap3_medium_PRACA-DAS-ARTES-DRONE-01.jpg" alt="" class="ImgFundo">
                    <p><img src="img/img_pacotes/too_men.png" alt="Ícone pessoa">2 Pessoas</p>
                    <div><span class="material-symbols-outlined favorito">favorite</span>
                    <span class="autor"><strong>Por </strong>Prefeitura Municipal</span></div>
                        <aside>Das 9:00 as 22:00</aside>
                        <h3>Visita a praça das Artes</h3>
                </div>
                <div class="embaixoInfoBox">
                    <p>Visita a Praça das Artes  Inclusos  (Transporte, alimentação, guia turistico )</p>
                    <span class="preco">R$00,00</span>
                    <div>
                        <div class="stars">
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span class="material-symbols-rounded">
                                star
                            </span>(52)
                        </div>
                        <a href="#" class="btn_Mais">Ver Mais</a>
                    </div>
                </div>
            </section>
            <section class="pages">
                <div><-</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>-></div>
            </section>
        </div>
        
    </main>
</body>
</html>