<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacotes (Confirmação)</title>
    <link rel="stylesheet" href="/css/style_pacortes_confirmacao.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>



    
    <!-- INICIO DO CABEÇALHO -->
    <header>
        <div class="divh">
            <img src="/img/imagens_pacotes_confirmacao/INFOTUR LOGO.png" alt="Logo">
        </div>
    </header>
    <!-- FIM DO CABEÇALHO -->




    <!-- INICIO DO MAIN -->
    <!--TEXT'S-->
    <main>
        <section class="titles">
            <h1>Confirmação</h1>
            <a href="/PACOTES (Pagamento)/index.html" class="arrow"></a>
            <p><strong>Etapas</strong></p>
        </section>
        <section class="etapas">
            <p>1. Endereçoﾠ-> </p>
            <p>2. Pagamentoﾠ-> </p>
            <p><strong>3. Confirmação</strong></p>
        </section>
<!--FIM DOS TEXT'S-->




    <!--CONTAINER1-->
    <section class="container-1"></section>
    <div class="sucesso">
        <p><strong>Seu pacote foi comprado com sucesso.</strong><br><br>Em breve você recebera em seu e-mail todas as informações necessarias para  realização do passeio, tais como data, local de partida etc.</p>
        <div class="sucesso2">
            <p><strong>Pagamento efetuado com sucesso</strong></p>
        </div>
    </div>
    <!--FIM DO CONTAINER 1-->



    <!--CODIGO DA COMPRA-->
    <div class="code">
        <h1>Codigo da Compra:</h1>
        <h6><strong>1YSHE32182IS</strong></h6>
        <hr>
        <h5><strong>Detalhes do pedido</strong></h5>
        <h4><strong>Código da compra: 1YSHE32182IS</strong></h4>
        <h3><strong>Forma de pagamento: Cartão de crédito</strong></h3>
        <h2><strong>Valor do pagamento: R$ 42,50</strong></h2>
        <p><strong>Horario: 20:52</strong></p>
        <a href="http://localhost:8000/home">
        <button id="Finalizar">Finalizar</button>
      </a>
    </div>
    
    <!--FINALIZAR-->
    <!--FIM DO CODIGO DA COMPRA-->




    <br>
    <!--INICIO DO FOOTER-->
  <footer>
    <!--DIV I1-->
    <section class="i1">
      <h5>INFOTUR</h5>
      <p>E-mail:</p>
      <p>infotur@gmail.com</p>
    </section>

    <!-- Div 2 - i2 (Contato) -->
    <section class="i2">
      <h5> Contato</h5>
      <p>Central de Atendimento</p>
      <p> (11) 8967-4536</p>
    </section>

    <!-- Div 3 - i3 (Sobre nós)-->
    <section class="i3">
      <h5>Mais </h5>
      <p> Sobre nós </p>
      <p> Política de privacidade </p>
      
      <!-- Botão de fale conosco -->
      <input type="button" value="Fale Conosco">
    </section>
    <hr>

    <!-- Section ftult (Footer ultimo = ultima section do footer) -->
    <section class="ftult">

      <!-- Logotipo -->
      <img src="/img/imagens_pacotes_confirmacao/INFOTUR LOGO.png" width="35%">
      <!-- Texto localizado a esquerda do logotipo -->
      <p> © 2023 INF TUR  - Instituição de Turismo.<br> 19.242.150/0004-28<br>
        Rua Capoto Valente, 67- São Paulo, SP - <br>054-18040<br></p>
      
        <!-- Icones de redes sociais -->
        <div class="rds">
          <img src="/img/img_pacotes_confirmacao/instagram.png" alt="Instagram" srcset="">
          <img src="/img/img_pacotes_confirmacao/facebook.png" alt="facebook" srcset="">
          <img src="/img/img_pacotes_confirmacao/twitter.png" alt="twitter" srcset="">
        </div>
    </section>
  </footer>
  <!--FIM DO FOOTER-->




  <style>
    footer {
      background-color: #5b398d;
    }
  </style>
</main>
<!--FIM DO MAIN-->
</body>
</html>