<!DOCTYPE html>
<html lang="pt-br">
  <head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/img/INFOTUR favicon.png" type="image/x-icon" />
<link rel="stylesheet" href="/css/rodapé.css">
<link rel="stylesheet" href="/css/style_endereco.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,600&display=swap"rel="stylesheet"/>
<link href="https: //fonts.googleapis.com/css2?family= Poppins & display=swap" rel= " stylesheet">
<script src="/js/scripto_endereco.js" defer></script>
    <title>Endereço</title>
  </head>
  <body>
    <header>
      <!--Logo do Infotur-->
      <img class="logo" src="img/img_endereço/logo infotur.png" alt="Logo" />
      <!--Logo do Infotur-->
    </header>
<a href="/cadastre-se">
    <button class="botão" >Voltar</button>
  </a>

    <section class="titles">
      <h1>Endereço</h1>
  
      <h2>Etapas</h2>
  </section>

 <section class="conteiner1">

  <p>1. Endereço </p>
  <img src="img/img_endereço/page_6-removebg-preview.png" alt="">

   

  <p>2. Pagamento</p>
  <img src="img/img_endereço/page_6-removebg-preview.png" alt="">

  <p>3. Confirmação </p>

 
 </section>

    <main>
      <!-- O processo de confimação de endereço -->

      <!-- O processo de confimação de endereço -->
      <section class="barradeinformação" >
      <div>
        <input type="text" id="txtBusca" placeholder="CPF:" />
        <input type="text" id="txtBusca" placeholder="Endereço:" />
        <input type="text" id="txtBusca" placeholder="Numero da residências:" />
        <input type="text" id="txtBusca" placeholder="Complemento (opcional):"/>
        <input type="text" id="txtBusca" placeholder="Bairro:" />
        <input type="text" id="txtBusca" placeholder="Cidade:" />
        <input type="text" id="txtBusca" placeholder="Estado:" />
      </div>
    </section>
 <!-- botão de avançar-->
 <a href="/pacotespag">
<button class="avançar" >Avançar</button>
</a>
<!-- botão de avançar-->

    </main>

    <footer>

      <section class="i1">

        <h5>INFOTUR</h5>
        <p>E-mail:</p>
        <p>infotur@gmail.com</p>
      </section>

      
      <section class="i2">

        <h5> Contato</h5>
        <p>Central de Atendimento</p>
        <p> (11) 8967-4536</p>
      </section>

    
      <section class="i3">

        <h5>Mais </h5>
        <p> Sobre nós </p>
        <p> Política de privacidade </p>
   
        <input type="button" value="Fale Conosco">
      </section>

      <hr>

    
      <section class="ftult">

        <img src="img/img_endereço/logo infotur.png" width="40%">
      
        <p> © 2023 INF TUR  - Instituição de Turismo.<br> 19.242.150/0004-28<br>
          Rua Capoto Valente, 67- São Paulo, SP - <br>054-18040<br></p>
        
     
          <div class="rds">
            <img src="img/img_endereço/instagram-logo-removebg-preview.png" alt="Instagram" srcset="">
            <img src="img/img_endereço/facebook_2-removebg-preview.png" alt="facebook" srcset="">
            <img src="img/img_endereço/twitter-removebg-preview.png" alt="twitter" srcset="">
          </div>
      </section>
    
    </footer>
  

  </body>
</html>
