<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_qr_termos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,600&display=swap"rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family= Poppins & display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
        <header>
            <!--Logo do Infotur-->
         <img class="logo" src="/img/img_qr_termos/logo infotur.png" alt="logo">
         <!--Logo do Infotur-->
      </header>
      <main>
<a href="../Cadastro TCC/cadastre-se.html">
<input class="Botão" type="text" value="Voltar">
</a>
<section class="container1">
      <h4>TERMOS DE USO </h4>
      <label> Os Termos de Uso são regras e diretrizes <br>
         estabelecidas por um site ou serviço <br> online para governar o uso de seus serviços. <br>
          Eles explicam o que os usuários podem ou não <br> fazer ao usar o site. <br>
           Ao concordar com os Termos de Uso, os <br>
           usuários concordam em cumprir essas regras <br>
             enquanto estão no site, <br>
             garantindo um ambiente seguro e <br>
              respeitoso para todos os usuários. <br>
              É importante ler e entender os Termos de Uso <br>
               antes de utilizar um site ou serviço online.
      </label>
           
      <img src="/img/img_qr_termos/termos-de-uso.png" alt="">
    </section>

    <section class="container2">
      <h3> Termos de Uso do INFOTUR <hr> </h3>
      <label> Ao acessar e usar este site (o "INFOTUR"), você concorda em obedecer a estes Termos de Uso e todas as leis e regulamentos aplicáveis. Se você não concorda com qualquer um destes termos, está proibido de usar ou acessar este Site.
      </label>
    <img src="/img/img_qr_termos/pngwing.com.png" alt="imagem">
  </section>

<section class="container3">
<h1></h1>

<div class="um">
  <h4>Uso do Conteúdo</h4>
      <label> Todo o conteúdo deste Site, incluindo, mas não se limitando a textos, imagens, gráficos, logotipos, vídeos <br>
         e áudios ("Conteúdo"), é de propriedade do site ou <br>
          de seus fornecedores de conteúdo e é protegido por leis <br> 
          de direitos autorais. Você concorda em não reproduzir, distribuir, modificar, exibir ou criar trabalhos derivados <br>
           do Conteúdo, a menos que tenha permissão explícita <br>
            por escrito.

      </label>
</div>

<div class="dois">
  <h4>Reservas e Transações </h4>
      <label> Este Site pode permitir que você faça reservas, compras <br>
        ou participe de outras transações relacionadas ao turismo. Você concorda em fornecer informações precisas e completas ao fazer uma reserva ou transação. O Site não se responsabiliza por informações imprecisas fornecidas por você.

      </label>
</div>

<div class="três">
  <h4>Comentários e Conteúdo do Usuário </h4>
      <label> Ao enviar comentários, avaliações ou qualquer outro tipo de conteúdo gerado pelo usuário, você concede ao Site o direito de usar, reproduzir, modificar, adaptar, publicar, traduzir e distribuir tal conteúdo em qualquer forma ou mídia.

      </label>
</div>

<div class="quatro">
  <h4>Links para Terceiros </h4>
      <label> Este Site pode conter links para sites de terceiros. Estes links são fornecidos apenas para sua conveniência. O Site não controla ou endossa o conteúdo desses sites e não é responsável por qualquer informação, software ou conteúdo encontrado neles.

      </label>
</div>

<div class="cinco">
  <h4>Limitação de Responsabilidade</h4>
      <label> Este Site é fornecido "como está", sem garantias de qualquer tipo, expressas ou implícitas. O Site não garante a precisão, confiabilidade, completude ou atualidade do conteúdo, serviços ou materiais fornecidos neste Site.

      </label>
</div>

<div class="seis">
  <h4>Indenização</h4>
      <label>Você concorda em indenizar, defender e isentar o Site e suas afiliadas, diretores, funcionários, agentes e parceiros de qualquer reclamação, responsabilidade, custos e despesas, incluindo honorários advocatícios, decorrentes do seu uso deste Site ou da violação destes Termos de Uso.

      </label>
</div>

<div class="sete">
  <h4>Modificações</h4>
      <label> O Site se reserva o direito de modificar estes Termos de <br>
         Uso a qualquer momento, sem aviso prévio. O uso continuado deste Site após tais modificações constitui br
          sua aceitação dos Termos de Uso modificados.

      </label>
</div>

<div class="oito">
  <h4>Lei Aplicável </h4>
      <label> Estes Termos de Uso são regidos e interpretados de <br> acordo
         com as leis do [país ou estado], sem <br>
          consideração aos seus princípios de conflito de leis.

      </label>
</div>
 </section>

 <section class="container4">

  <label>Ao usar este Site, você concorda com estes Termos de Uso. <br>
    Se você não concorda com estes Termos de Uso, por favor, não use este Site.
  </label>

</section>

<footer>
   <!-- Div1 - i1 -->
   <section class="i1">

     <h5>INFOTUR</h5>
     <p>E-mail:</p>
     <p>infotur@gmail.com</p>
   </section>

   <!-- Div 2 - i2 (Contato) -->
   <section class="i2">

     <h5> Contato</h5>
     <p>Central de Atendimento</p>
     <p> (11) 8967-4536</p>
   </section>

   <!-- Div 3 - i3 (Sobre nós)-->
   <section class="i3">

     <h5>Mais </h5>
     <p> Sobre nós </p>
     <p> Política de privacidade </p>
     
     <!-- Botão de fale conosco -->
     <input type="button" value="Fale Conosco">
   </section>

   <hr>

   <!-- Section ftult (Footer ultimo = ultima section do footer) -->
   <section class="ftult">

     <!-- Logotipo -->
     <img src="/img/img_qr_termos/logo infotur.png" width="35%">
     <!-- Texto localizado a esquerda do logotipo -->
     <p> © 2023 INF TUR  - Instituição de Turismo.<br> 19.242.150/0004-28<br>
       Rua Capoto Valente, 67- São Paulo, SP - <br>054-18040<br></p>
     
       <!-- Icones de redes sociais -->
       <div class="rds">
         <img src="/img/img_qr_termos/instagram-logo-removebg-preview.png" alt="Instagram" srcset="">
         <img src="/img/img_qr_termos/facebook_2-removebg-preview.png" alt="facebook" srcset="">
         <img src="/img/img_qr_termos/twitter-removebg-preview.png" alt="twitter" srcset="">
       </div>
   </section>
 
 </footer>
 <!-- final footer -->

</body>
</html>