<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário (Dúvidas Frequentes)</title>
    <link rel="stylesheet" href="/css/reset_usuerconfig.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> 
 
    <link rel="stylesheet" href="/css/usuarioCONFIG.css">

    <script src="/js/slider_userconfig.js" defer></script>
    <script src="/js/favorito_userconfig.js" defer></script>
    <script src="/js/menu_userconfig.js" defer></script>
</head>
<body>
    
    <header>
        <div class="itens">
            <a href=""><img src="/img/img_userconfig/seta-para-a-esquerda.png" alt="Voltar"></a>
            <div class="menu-container">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="menu">
        <div class="menu-nav">
            <div class="menu-container">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <img src="/img/img_userconfig/INFOTUR LOGO.png" alt="Logo">
        </div>
        <div class="menu-user">
            <img src="/img/img_userconfig/mulher sorridente.jpg" alt="usuario">
            <div>
                <h1>Maria Silva</h1>
                <aside>450 INFC</aside>
            </div>
        </div>
        <nav>
          
            <a href="../pacotes/pacotes.html">
                <div class="nav-item">
                    <img src="/img/img_userconfig/caixa (1).png" alt="">Pacotes
                </div>
            </a>
            <a href="../ofertas/ofertas.html">
                <div class="nav-item">
                    <img src="/img/img_userconfig/porcentagem-de-emblema.png" alt="">Ofertas
                </div>
            </a>
            <a href="../usuarioCONFIG/usuarioCONFIG'S.html">
                <div class="nav-item">
                    <img src="/img/img_userconfig/definicoes.png" alt="">Configurações
                </div>
            </a>
            <a href="../app/views/pages/delete-login.html">
                <div class="nav-item">
                    <img src="/img/img_userconfig/deletar-usuario.png" alt="">Deletar conta
                </div>
            </a>
            <a href="../app/views/pages/login.html">
                <div class="nav-item">
                    <img src="/img/img_userconfig/sair-alt.png" alt="">Sair
                </div>
            </a>
            <a href="/home/html/home2.html">
                <div id="home">Home</div>
            </a>
          
        </nav>
    </div>
        </div>

        
        <div class="user-info">
            <img src="/img/img_userconfig/mulher sorridente.jpg" alt="Foto de Perfil">
            <h1>Maria</h1>
            <aside>Barueri, São Paulo Brasil</aside>

           <div>  

            <a href="../usuario(recomenda)/usuariorecom.html">
             <div class="caixa-user recomendacoes">Recomendações</div> 
            </a>

            <a href="../usuario(favoritados)/usuariofav.html">
             <div class="caixa-user favoritados">Favoritados</div>
            </a> 

        </div>
    </header>
    <main>
        <h1>Configurações do Usuário</h1>
<br>
        <div class="form-group">
            <label for="nome"></label>
            <a href="../app/views/pages/alterar-senha.html">
                <a href="http://localhost:8000/alterar-senha">
            <button type="none" id="senha">Alterar Senha</button>
        </a>
            <br><br>
            <button type="none" id="senha2">Confirme sua senha</button>
          </div>
          <br>
          <button type="submit">Confirmar Alteração</button>
       
        
        
       
    </main>
</body>
</html>