<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário (Dúvidas Frequentes)</title>
    <link rel="stylesheet" href="/css/reset_usuariofav.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> 
    <link rel="stylesheet" href="css/usuariofav.css">
    <script src="/js/slider_usuariofav.js" defer></script>
    <script src="/js/favorito_usuariofav.js" defer></script>
    <script src="/js/menu_usuariofav.js" defer></script>
</head>
<body>
    
    <header>
        <div class="itens">
            <a href="/usuario(recomenda)/usuariorecom.html"><img src="/img/img_usuariofav/seta-para-a-esquerda.png" alt="Voltar"></a>
            <div class="menu-container">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="menu">
        <div class="menu-nav">
            <div class="menu-container">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <img src="/img/img_usuariofav/INFOTUR LOGO.png" alt="Logo">
        </div>
        <div class="menu-user">
            <img src="/img/img_usuariofav/mulher sorridente.jpg" alt="usuario">
            <div>
                <h1>Maria Silva</h1>
                <aside>450 INFC</aside>
            </div>
        </div>
        <nav>
          
            <a href="#">
                <div class="nav-item">
                    <img src="/img/img_usuariofav/caixa (1).png" alt="">Pacotes
                </div>
            </a>
            <a href="/ofertas">
                <div class="nav-item">
                    <img src="/img/img_usuariofav/porcentagem-de-emblema.png" alt="">Ofertas
                </div>
            </a>
            <a href="/usuarioconfigs">
                <div class="nav-item">
                    <img src="/img/img_usuariofav/definicoes.png" alt="">Configurações
                </div>
            </a>
            <a href="#">
                <div class="nav-item">
                    <img src="/img/img_usuariofav/deletar-usuario.png" alt="">Deletar conta
                </div>
            </a>
            <a href="/login">
                <div class="nav-item">
                    <img src="/img/img_usuariofav/sair-alt.png" alt="">Sair
                </div>
            </a>
            <a href="/">
                <div id="home">Home</div>
            </a>
          
        </nav>
    </div>
        </div>

        <div class="user-info">
            <img src="/img/img_usuariofav/mulher sorridente.jpg" alt="Foto de Perfil">
            <h1>Maria</h1>
            <aside>Barueri, São Paulo Brasil</aside>

           <div>  

            <a href="../usuario(recomenda)/usuariorecom.html">
             <div class="caixa-user recomendacoes">Recomendações</div> 
            </a>

            <a href="../usuario(favoritados)/usuariofav.html">
             <div class="caixa-user favoritados">Favoritados</div>
            </a> 

        </div>
    </header>
    <main>
        <section class="slider_container">
            <button class="arrow-left control" aria-label="Previous Image"><</button>
            <button class="arrow-right control" aria-label="Next Image">></button>
            <span class="material-symbols-outlined favorito">favorite</span>
        
           
        
            <div class="slider_wrapper">
                <div class="slider">
                    <img src="/img/img_usuariofav/Praça da artes barueri.png" alt="" class="item current-item">
                   
    
                </div>
            </div>


           
            
            
              
        </section>
        
        
        
        
        
        <div class="cardv">
            Das 09:00 as 12:00
        </div>
        
        <div class="cardrx">
            Visita a Praça das Artes
        </div>

        


          <section class="bt-star">

            <button > <a href=""> Ver mais </a></button>

              <div class="starM">
                <img src="/img/img_usuariofav/estrela.png">
                <img src="/img/img_usuariofav/estrela.png">
                <img src="/img/img_usuariofav/estrela.png">
                <img src="/img/img_usuariofav/estrela.png">
                <img src="/img/img_usuariofav/estrela.png">

              </div>

            </section>









            


            <!-- Slide 2 -->


            <section class="slider_container">
                <button class="arrow-left control" aria-label="Previous Image"><</button>
                <button class="arrow-right control" aria-label="Next Image">></button>
                <span class="material-symbols-outlined favorito">favorite</span>
            
               
            
                <div class="slider_wrapper">
                    <div class="slider">
                        <img src="/img/img_usuariofav/Museu de Barueri 1.png" alt="" class="item current-item">
                      
                        
                    </div>
                </div>
    
    
               
                
                
                  
            </section>
            
            
            
            
            
            <div class="cardv">
                Das 09:00 as 16:00
            </div>
            
            <div class="cardrx">
                Visita ao Museu Histórico
            </div>
    
            
    
    
              <section class="bt-star">
    
                <button > <a href=""> Ver mais </a></button>
    
                  <div class="starM">
                    <img src="/img/img_usuariofav/estrela.png">
                    <img src="/img/img_usuariofav/estrela.png">
                    <img src="/img/img_usuariofav/estrela.png">
                    <img src="/img/img_usuariofav/estrela.png">
                    <img src="/img/img_usuariofav/estrela.png">
    
                  </div>
    
                </section>


    </main>

    
</body>
</html>