<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário (Dúvidas Frequentes)</title>
    <link rel="stylesheet" href="/css/reset_recom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> 
 
    <link rel="stylesheet" href="/css/usuario2recom.css">

    <script src="/js/slider_userrecom.js" defer></script>
    <script src="js/favorito_userrecom.js" defer></script>
    <script src="js/menu_userrecom.js" defer></script>
</head>
<body>
    
    <header>
        <div class="itens">
            <a href=""><img src="/img/img_userecom/seta-para-a-esquerda.png" alt="Voltar"></a>
            <div class="menu-container">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="menu">
        <div class="menu-nav">
            <div class="menu-container">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <img src="/img/img_userecom/INFOTUR LOGO.png" alt="Logo">
        </div>
        <div class="menu-user">
            <img src="/img/img_userecom/mulher sorridente.jpg" alt="usuario">
            <div>
                <h1>Maria Silva</h1>
                <aside>450 INFC</aside>
            </div>
        </div>
        <nav>
          
          <a href="../pacotes/pacotes.html">
              <div class="nav-item">
                  <img src="/img/img_userecom/caixa (1).png" alt="">Pacotes
              </div>
          </a>
          <a href="../ofertas/ofertas.html">
              <div class="nav-item">
                  <img src="/img/img_userecom/porcentagem-de-emblema.png" alt="">Ofertas
              </div>
          </a>
          <a href="../usuarioCONFIG/usuarioCONFIG'S.html">
              <div class="nav-item">
                  <img src="/img/img_userecom/definicoes.png" alt="">Configurações
              </div>
          </a>
          <a href="/app/views/pages/delete-login.html">
              <div class="nav-item">
                  <img src="/img/img_userecom/deletar-usuario.png" alt="">Deletar conta
              </div>
          </a>
          <a href="/app/views/pages/login.html">
              <div class="nav-item">
                  <img src="/img/img_userecom/sair-alt.png" alt="">Sair
              </div>
          </a>
          <a href="/home/html/home2.html">
              <div id="home">Home</div>
          </a>
        
      </nav>
      
    </div>
        </div>

        
        <div class="user-info">
          <img src="/img/img_userecom/mulher sorridente.jpg" alt="Foto de Perfil">
          <h1>Maria</h1>
          <aside>Barueri, São Paulo Brasil</aside>

         <div>  

          <a href="../usuario(recomenda)/usuariorecom.html">
           <div class="caixa-user recomendacoes">Recomendações</div> 
          </a>

          <a href="../usuario(favoritados)/usuariofav.html">
           <div class="caixa-user favoritados">Favoritados</div>
          </a> 

      </div>
  </header>
    <main>
        <section class="slider_container">
            <button class="arrow-left control" aria-label="Previous Image"><</button>
            <button class="arrow-right control" aria-label="Next Image">></button>
            <span class="material-symbols-outlined favorito">favorite</span>
        
           
        
            <div class="slider_wrapper">
                <div class="slider">
                    <img src="/img/img_userecom/Praça da artes barueri.png" alt="" class="item current-item">
                   
    
                </div>
            </div>


           
            
            
              
        </section>
        
        
        
        
        
        <div class="cardv">
            Das 09:00 as 12:00
        </div>
        
        <div class="cardrx">
            Visita a Praça das Artes
        </div>

        


          <section class="bt-star">

            <button > <a href=""> Ver mais </a></button>

              <div class="starM">
                <img src="/img/img_userecom/estrela.png">
                <img src="/img/img_userecom/estrela.png">
                <img src="/img/img_userecom/estrela.png">
                <img src="/img/img_userecom/estrela.png">
                <img src="/img/img_userecom/estrela.png">

              </div>

            </section>
            <!-- Cards comentarios -->
    <section class="container5">

        <div class="perfil">
    
          <img src="/img/img_userecom/mulher sorridente.jpg"  alt="Foto perfil">
          <h6> Maria Joaquina </h6>
    
          
    
        </div>
    
    
        <div class="cm1"> 
           <div class="star-1">
              <img src="/img/img_userecom/estrela.png">
              <img src="/img/img_userecom/estrela.png">
              <img src="/img/img_userecom/estrela.png">
              <img src="/img/img_userecom/estrela.png">
              <img src="/img/img_userecom/estrela.png">
           </div>
    
          <label> 
            <strong> Excelente parque para se divertir com familíares</strong>  
          </label>
      </div>
    
        
      <div class="p1">
        <p> Local limpo, organizado em bem arborizado, levarei meus filhos novamente </p>
      </div>
    
       </section>
    
      <!-- Final seção do card comentarios -->
  
  
      <section class="inpts">
        <input type="button" onmouseover="" >
        <input type="button" onmouseover="" >
        <input type="button" onmouseover="" >
      </section>








            


            
    </main>

    
</body>
</html>